{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<form action="/admin/categorias/nova" method="POST">
    <h1>Nova Categoria:</h1>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Nome da categorias" class="form-control">
    <label for="slug">Slug:</label>
    <input type="text" id="slug" name="slug" placeholder="Slug da categorias" class="form-control">
    <hr>
    <button type="submit" class="btn btn-success">Criar categoria</button>
</form>